.btn-sample2 {
    align-self: auto;
    font-size: 25px;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #1A8C0F;
	*background-color: #1A8C0F;
	background-image: -moz-linear-gradient(top, #5FE84C, #1A8C0F);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5FE84C), to(#1A8C0F));
	background-image: -webkit-linear-gradient(top, #5FE84C, #1A8C0F);
	background-image: -o-linear-gradient(top, #5FE84C, #1A8C0F);
	background-image: linear-gradient(to bottom, #5FE84C, #1A8C0F);
	background-repeat: repeat-x;
	border-color: #1A8C0F;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5FE84C', endColorstr='#1A8C0F', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-sample2:hover,
.btn-sample2:focus,
.btn-sample2:active,
.btn-sample2.active,
.btn-sample2.disabled,
.btn-sample2[disabled] {
	color: #FFFFFF;
	background-color: #1A8C0F;
	*background-color: #003bb3;
}
/* 
.btn-sample {
    background: #5FE84C;
    background-image: -webkit-linear-gradient(top, #5FE84C, #1A8C0F);
    background-image: -moz-linear-gradient(top, #5FE84C, #1A8C0F);
    background-image: -ms-linear-gradient(top, #5FE84C, #1A8C0F);
    background-image: -o-linear-gradient(top, #5FE84C, #1A8C0F);
    background-image: linear-gradient(to bottom, #5FE84C, #1A8C0F);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 35px 8px 35px;
    text-decoration: none;
  }
  
  .btn-sample:hover {
    background: #71d160;
    background-image: -webkit-linear-gradient(top, #71d160, #59b34b);
    background-image: -moz-linear-gradient(top, #71d160, #59b34b);
    background-image: -ms-linear-gradient(top, #71d160, #59b34b);
    background-image: -o-linear-gradient(top, #71d160, #59b34b);
    background-image: linear-gradient(to bottom, #71d160, #59b34b);
    text-decoration: none;
  } */



.btn-sample {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 15px auto;
  width: 250px;
  height: 50px;
  background: white; 
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);

   
  color: black;
    -webkit-border-radius: 75;
    -moz-border-radius: 75;
    border-radius: 75px;
    font-family: Arial; 
    font-size: 20px;
    padding: 8px 35px 8px 35px;
    text-decoration: none;
}

.btn-sample:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.btn-sample::before, .btn-sample::after {
  display: block;
  content: '';
  position: absolute;
  width: 245px;
  height: 45px;
  background: #F8931D;
  border-radius: 75px;
  z-index: -2;
  animation: 1s clockwise infinite; 
}

.btn-sample:after {
  background: #1F5A9C;
  animation: 1s clockwise2 infinite;
}


  
   .btn-report {
    background: #4c5ee8;
    background-image: -webkit-linear-gradient(top, #4c5ee8, #150f8c);
    background-image: -moz-linear-gradient(top, #4c5ee8, #150f8c);
    background-image: -ms-linear-gradient(top, #4c5ee8, #150f8c);
    background-image: -o-linear-gradient(top, #4c5ee8, #150f8c);
    background-image: linear-gradient(to bottom, #4c5ee8, #150f8c);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 35px 8px 35px;
    text-decoration: none;
  }
  
  .btn-report:hover {
    background: #6b7ae9;
    background-image: -webkit-linear-gradient(top, #6b7ae9, #6557e4);
    background-image: -moz-linear-gradient(top, #6b7ae9, #6557e4);
    background-image: -ms-linear-gradient(top, #6b7ae9, #6557e4);
    background-image: -o-linear-gradient(top, #6b7ae9, #6557e4);
    background-image: linear-gradient(to bottom, #6b7ae9, #6557e4);
    text-decoration: none;
  } 

.hide-this{
    display: none;
}
#comments{
    
    display: none;
}
a:link { text-decoration: none;  
}

.txt-center{
    text-align: center;
 }
 .txt-notes{
     font-size: 25px;
 }
 .txt-bold{
    font-weight: bold;
 }


  
 /* @media (min-width: 576px){
 .modal-dialog {
  max-width: 100% !important;
     margin: 1.75rem auto;
 }
} */

@keyframes clockwise {
  0% {
    top: -4px;
    left: 0;
  }
  12% {
    top: -3px;
    left: 3px;
  }
  25% {
    top: 1px;
    left: 8px;    
  }
  37% {
    top: 3px;
    left: 4px;
  }
  50% {
    top: 7px;
    left: 1;    
  }
  62% {
    top: 3px;
    left: -3px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -3px;
    left: -3px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes clockwise2 {
  0% {
    top: 5px;
    left: 0;
  }
  12% {
    top: 3px;
    left: -3px;
  }
  25% {
    top: 1px;
    left: -4px;    
  }
  37% {
    top: -3px;
    left: -3px;
  }
  50% {
    top: -5px;
    left: 1px;    
  }
  62% {
    top: -3px;
    left: 3px;
  }
  75% {
    top: 0;
    left: 6px;
  }
  87% {
    top: 4px;
    left: 4px;
  }
  100% {
    top: 6px;
    left: 0;    
  }
}
@keyframes counterclockwise {
  0% {
    top: -2px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 1px;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 1px;    
  }
}


