/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset code */
html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  color: #585858;
}

.font-for-tittle{ 
  font-family: "Brush Script MT", "Lucida Handwriting", Cursive;
}

p {
	font-family: 'Open Sans', sans-serif;
  font-size: 80px;
	margin-bottom: 30px;}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wrapper-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.img-fluid {
  width: 100%;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button,
input,
select {
  -webkit-appearance: none;
  outline: none;
}

button,
.btn,
select {
  cursor: pointer;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
}

body a:hover,
body button:hover {
  opacity: .8;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #050404;
}

p {
  color: #585858;
}

/* reset code */

.error-page .covers-main {
  background: url(../images/121464488_2931694867058410_3528355233361744065_n.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 0;
  min-height: 100vh;
  align-items: center;
  display: grid;
  max-width: 100%;
}

.error-page .covers-main:before {
  content: "";
  background: rgba(16, 16, 16, 0.4);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.error-page .main-cover {
  max-width: 510px;
  margin: 0 auto;
}

.error-page a.logo {
  color: #fff;
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 44px;
}

.error-page .cover-para {
  color: #fff;
  line-height: 0px;
  font-size: 70px;
  margin-bottom: 50px;
  font-weight: 600;
}

.error-page h4.cover-para span {
  font-size: 90px;
}

.error-page p.form-text {
  font-size: 17px;
  line-height: 25px;
  color: #eee;
}

.error-page a.back-button {
  border: none;
  font-weight: 600;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background: rgba(255, 255, 255, 0.16);
  text-align: center;
  padding: 12px 18px;
  margin-top: 4em;
  box-shadow: 0px 3px 4px 2px rgba(14, 14, 14, 0.04);
}

.copyright p {
  font-size: 15px;
  color: #ccc;
  line-height: 20px;
  margin-top: 4rem;
}

.copyright p a {
  color: #fff;
}

/* responsive */
@media screen and (max-width: 568px) {
  .error-page a.logo {
    font-size: 35px;
  }

  .error-page p.page-detail {
    font-size: 18px;
  }

  .error-page a.back-button {
    margin-top: 3em;
  }

  .error-page .cover-para {
    font-size: 90px;
    margin-bottom: 20px;
  }

  .error-page .cover-para {
    font-size: 90px;
  }

  .error-page h4.cover-para span {
    font-size: 90px;
  }
}

@media screen and (max-width: 384px) {
  .error-page p.form-text {
    font-size: 16px;
  }

  .error-page .cover-para {
    font-size: 90px;
  }

  .error-page h4.cover-para span {
    font-size: 90px;
  }
}
/* FOR BANNER STYLE */
.banner-bg{
  
  background-image: url('../img/E8SJsCJVEAEguXE_bg.jpg'); 
        background-color: #fff; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover ;   
}

 @media only screen and (max-width: 576px) {
     .card-sm{
         width: 100%  ;
     }
     .banner-pic{
       /*   background-image: url('../img/cfo-today.jpg');   */
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100% ;   
        position: relative;
        min-height:150px;
        max-height:500px;
     }
 }
 
 @media only screen and (min-width: 577px) and (max-width: 991px) {
     .search-lg{
         width: 300px !important;   
     }
     .button-lg{
         width: 150px !important;   
     }
     .banner-pic{
      /*    background-image: url('../img/cfo-today.jpg');   */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain ;   
        position: relative;
        min-height:300px;
        max-height:500px;
     }
 }

 @media only screen and (min-width: 992px) {
     .search-lg{
         width: 300px !important;   
     }
     .button-lg{
         width: 150px !important;   
     }
     .banner-pic{
      /*    background-image: url('../img/cfo-today.jpg');   */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain ;   
        position: relative;
        min-height:300px;
        max-height:500px;
     }
 }

.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #222;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #F8931D;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

/* //responsive */


 .alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: grab;}
.grabbing {cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}